.movie-item {
  display: flex;
  justify-content: space-between;

  background-color: white;

  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-bottom: 0.5rem;

  border: 1px solid black;
  border-radius: var(--global-border-radius);
}

.movie-item button {
  margin-right: 0.5rem;
}

.approved {
  background-color: green;
}
