html {
  --global-border-radius: 8px;

  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #272727;
}

input,
button {
  border: 1px solid black;
  border-radius: var(--global-border-radius);
}

input {
  padding: 0.2rem;
}

button {
  padding: 0.2rem 0.5rem;
  transition: all 0.2s;
}

button:hover,
button:focus {
  background-color: rgb(201, 201, 201);
}

button:active {
  background-color: rgb(187, 187, 187);
}

p {
  line-height: 1.5;
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 130%;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 180%;
  }
}
